
# NOTE ON EXCLUSIONS

# Anything being added to an ignore block MUST include a comment that explains
# what we're ignoring AND a link to an approval in Github Issues for the given
# repository.

# Where to look
path: "terraform/"

# Where not to look

exclude-paths:
  # .terraform has examples which cause high rates of false positive alerts.
  - "terraform/.terraform/"

# From the beginning, no category will be ignored. Modification must include
# rationale and approval.

exclude-categories: [
  # Access Control
  # Availability
  # Backup
  # Best Practices
  # Bill Of Materials
  # Build Process
  # Encryption
  # Insecure Configurations
  # Insecure Defaults
  # Networking and Firewall
  # Observability
  # Resource Management
  # Secret Management
  # Structure and Semantics
  # Supply-Chain
]

exclude-queries:
  # 5e-tools web bucket has public read. This is OK for web buckets.
  - "38c5ee0d-7f22-4260-ab72-5073048df100"

  # s3 bucket without MFA delete. Buckets with lifecycle policies are incompatible with MFA Delete.
  # Issue raised @ github: https://github.com/Checkmarx/kics/issues/4576
  - "c5b31ab9-0f26-4a49-b8aa-4cc064392f4d"

  # S3 Static Website Enabled - We make heavy use of static website configurations.
  - "42bb6b7f-6d54-4428-b707-666f669d94fb"

  # CloudFront Default Certificate - False Positive
  # Issue raised @ github: https://github.com/Checkmarx/kics/issues/4577
  - "3a1e94df-6847-4c0e-a3b6-6c6af4e128ef"

output-path: "kics-report"